{% extends 'base.html.twig' %}

{% block body %}
  <ul>
    {% for user in users %}
      <li>{{ user.id }} - {{ user.name }} - {{ user.email }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}